@inherits LayoutComponentBase
@using MauiStore.Infrastructure

<MudThemeProvider Theme="_currentTheme" @bind-IsDarkMode="@IsDarkMode" DefaultScrollbar="false" />
<MudPopoverProvider />
<MudDialogProvider BackdropClick="false" />
<MudSnackbarProvider />

<CascadingValue Value="this">
    <MudLayout>
        <MainBodyPages OnDarkModeToggle="@ToggleDarkMode">
            @Body
        </MainBodyPages>
    </MudLayout>
</CascadingValue>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private MudTheme _currentTheme;
    public bool IsDarkMode { get; set; }
    public bool IsFirstVisit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _currentTheme = MauiStore.Infrastructure.AppTheme.MyCustomTheme;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsDarkMode = await _clientPreferenceManager.IsDarkMode();
            IsFirstVisit = await _clientPreferenceManager.IsFirstVisit();
            StateHasChanged();
        }
    }

    public async Task ToggleDarkMode()
    {
        IsDarkMode = await _clientPreferenceManager.ToggleDarkModeAsync();
        StateHasChanged();
    }
}
